*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
  font-size: 20px;;
  font-family: 'Indie Flower', cursive;
}
/* MIX */
.bg-grey{
  background-color: lightgrey;
  color: inherit;
}
.bg-blue{
  background-color: #8edafc;
  color: inherit;
}
.blue-mod{
  background-color: inherit;
  color: #8edafc;
}
.bg-white{
  background-color: white;
  color:inherit;
}
.font-15{
  font-size: 15px;
  color: grey;
  background-color: inherit;
}
.avatar{
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.icons{
  background-color: inherit;
  color: grey;
  font-size: 20px;
  padding: 6px;
}
.inline{
  display: inline-block;
}
.d-none, .template{
  display: none;
}
.d-block{
  display: block;
}
/* BACKGROUND GREEN E GREY */
.backgreen{
  color: inherit;
  background-color: #009688;
  height: 20vh;
  z-index: -1;
}
.backgrey{
  color: inherit;
  background-color: #d8dbd5;
  height: 80vh;
  z-index: -1;
}
/*//  BACKGROUND GREEN E GREY */

/* FINESTRA BOOLZAP */
.container{
  width: 70vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 15vw;
  display: flex;
  flex-wrap: wrap;
}
.win-contact{
  width: 40%;
  height: 100%;
  background-color: white;
  color: inherit;
}
.win-chat{
  width: 60%;
  height: 100%;
}

/* WIN-CONTACT */
.header{
  height: 70px;
  background-color: #EAEAEA;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.list-icons li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}
.notifiche{
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.icon-bell{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.bell{
  font-size: 20px;
  margin-left: 12px;
  margin-top: 14px;
}
.notifiche-att{
  list-style: none;
}
/* FIND CONTACT */
.search-contact{
  height: 50px;
  background-color: #FAFAFA;
  color: inherit;
  text-align: center;
  padding: 10px 0;
}
.search{
  width: 85%;
}
.lente-ico{
  width: 10%;
}
.search, .lente-ico{
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  color: grey;
}
/*// FIND CONTACT */

/* CONTACT LIST */
.contacts{
  height: calc(100% - 190px);
  overflow-y: scroll;
}
.contact{
  padding:10px;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
}
.contact:hover{
  background-color: #EBEBEB;
  color:inherit;
  cursor: pointer;
}
.contact .avatar{
  width: 60px;
  height: 60px;
}
.contact-text{
  margin-left: 15px;
}
.contact.d-block{
  background-color: lightgreen;
  color: inherit;
}
.contact-name{
  margin-bottom: 10px;
}
.contact-time{
  margin-left: auto;
  align-items: flex-start;
  margin-bottom: 18px;
}
.contact .d-block{
  background-color: pink;
  color: inherit;
}
/* WIN-CONTACT */

/* NAV CHAT */
.win-chat > .header{
  border-left: 1px solid lightgrey;
}
.chats-wrapper{
  height: calc(100% - 140px);
}
.chat{
  background-image: url("../img/mine.jpg");
  height: 100%;
  overflow-y: scroll;
  padding: 50px;
  display: none;
}
.chat.d-block{
  display: block;
}
.message-row{
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.message{
  position: relative;
  max-width: 350px;
  min-width: 100px;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: inherit;
  word-break: break-all;
}
.message-time{
  position: absolute;
  font-size: 15px;
  bottom: 3px;
  right: 10px;
}
.message-option{
  display: none;
  position: absolute;
  top: 15px;
  right: 8px;
  background-color: white;
  color: inherit;
  cursor: pointer;
}
.message-actions{
  display: none;
  position: absolute;
  top:100%;
  left: 0;
  padding: 10px;
  max-width: 200px;
  box-shadow: 2px 1px 10px #555;
  white-space: nowrap;
  list-style: none;
  text-align: center;
  z-index: 1;
}
.message-row.sent{
  align-items: flex-end;
}

.message-row.sent .message{
  background-color: lightgreen;
  color:inherit;
}
.message-row.sent .message .message-action{
  right: 0;
}
.message:hover .message-option{
  display: block;
}
/* FOOTER INPUT */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  color:inherit;
  height: 70px;
  padding: 20px;
}
.footer-icon > i{
  font-size: 28px;
}
.input-message{
  border: none;
  border-radius: 5px;
  width: 85%;
  height: 40px;
  padding: 10px;
}
.send-message{
  cursor: pointer;
}
/*// FOOTER INPUT */
