*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  width: 100vw;
}
/* MIX */
.bg-grey{
  background-color: lightgrey;
  color: inherit;
}
.bg-blue{
  background-color: lightblue;
  color: inherit;
}
.avatar{
  height: 40px;
  border-radius: 100%;

}
.icons{
  background-color: inherit;
  color: grey;
  font-size: 20px;
  padding: 10px;

}
/* BACKGROUND GREEN E GREY */
.backgreen{
  color: inherit;
  background-color: #009688;
  height: 20vh;
  z-index: -1;
}
.backgrey{
  color: inherit;
  background-color: #d8dbd5;
  height: 80vh;
  z-index: -1;
}
/*//  BACKGROUND GREEN E GREY */

/* FINESTRA BOOLZAP */
.container{
  width: 60vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 20vw;
  display: flex;
  flex-wrap: wrap;
}
.win-contact{
  width: 40%;
  height: 100%;
  background-color: lightblue;
  color: inherit;
}
.win-chat{
  width: 60%;
  height: 100%;
  background-color: pink;
}

/* WIN-CONTACT */
.sx-header{
  height: 60px;
  background-color: #eaeaea;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
/* WIN-CONTACT */

/*// FINESTRA BOOLZAP */
